<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bandwidth meter </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="bandwidth meter, html5 ">
    <meta name="author" content="Vardhan Varma <vardhanvarma@gmail.com>">

    <link href="static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="static/ico/favicon.png">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="muted">HTML5 Bandwidth tester</h3>
      </div>

      <hr>

      <div class="jumbotron">
        todo: place a map here
      </div>
      <hr>
      <div class="">
        <span class="btn-group"> Download : 
          <button class="btn" onclick="start_download()">Measure</button>
        </span>
        <span id="dest_download"> 0 Bps </span>
        Upload: <span id="dest_upload"> 0 Bps </span>
      </div>
      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Why HTML5 bandwidth tester</h4>
          <p>Till now, all bandwidth testing rely on closed format tools, requiring non-free plugins in the browser</p>
          <p>However, html5 now provides all that's required to measure bandwidth </p>
    
          <h4>Is this accurate ? </h4>
          <p>This is still an experiment. We do not expect it to be very accurate. Several things, like your machine's load,
             available memory, anti virus settings, network monitoring  or server load etc. can lower the reading.</p>
           <p> 

        </div>

        <div class="span6">
          <h4>Open data guarantee</h4>
          <p>After measuring the speed, you can opt in to get the data stored. This data will contain your IP and geo cordinates.
             All the data collected will be available as a free download, distributed under a CC license.</p>

          <h4>Open source </h4>
          <p>The source code is open sourced (GPL latest), and available at github repository.</p>

          <h4>Contributing</h4>
          <p>Please fork,and submit a pull request.<p>
          <p>There are innumerable things to be improved. Most important is to make sure that the server load is not the limiting factor
             for bandwidth measurement. <p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; HTML5 Speed test 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/sendrecv.js"></script>
    <script src="static/js/jquery.js"></script>
    <!--<script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script> -->

    <script type="text/javascript" >
      var start_download = (function() {
       var dest = $('#dest_download');
       var upl = $('#dest_upload');
        dest.text( "loading ...")
        upl.text("waiting ...")
        speed = function( ms, bytes) {
          if ( ms <= 0 ) { return "Waiting..." };
          var bps = bytes / ms * 1000.0 ;
          if ( bps < 1024 ) {
            return bps.toFixed(2)+ " Bps"
          } else if ( bps < 1024*1024 ) {
            return (bps/1024.0).toFixed(2)+ " KBps"
          } else {
            return (bps/1024.0/1024.0).toFixed(2)+ " MBps"
          }
        }
        working = function ( ms, bytes ) {
            dest.text( "Speed: " + speed(ms, bytes));
        };
        upl_working = function ( ms, bytes ) {
            upl.text( "Speed: " + speed(ms, bytes));
        };
        upl_finished = function( ms, bytes) {
            upl.text( "Final speed: " + speed(ms, bytes));
        }
        finished = function( ms, bytes) {
            dest.text( "Final speed: " + speed(ms, bytes));
            new Uploader("upload",5*1024*1024,upl_working,upl_finished);
        }
        new Downloader("static/data/5MB.bin",working,finished);
      });

    </script>
  </body>
</html>
